<div class="panel panel-default wrapper">
  <div class="panel-heading"> 工作包基本信息配置 </div>
    <form class="form-horizontal m-t">
      <div class="form-group">
        <label for="packageName" class="col-sm-4 control-label">工作包名称</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="name" id="packageName" placeholder="例如：KFC-JOB1">
        </div>
      </div>

      <div class="form-group">
        <label for="brand" class="col-sm-4 control-label">品牌</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="brand" id="brand" placeholder="例如：KFC">
        </div>
      </div>
      <div class="form-group">
        <label for="creator" class="col-sm-4 control-label">创建人</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="creator" id="creator" placeholder="例如：Ting">
        </div>
      </div>

      <div class="form-group" ng-show="name.length >0 && brand.length >0 && creator.length >0">
        <label class="col-sm-4 control-label"></label>
        <div class="col-sm-6">
            <div file-dialog saveas accept=".zip" on-file-selected="exportPackage" title = '生成工作包'/>
        </div>
      </div>
    </form>
</div>
<br>





      